* {
    font-family: 'Lexend Deca', sans-serif;
}
body {
    display: flex;
    height: 720px;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
}
button {
    padding: 0.75rem 1.5rem;

    font-size: 1rem;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: fit-content;

    border: 2px solid transparent;
    border-radius: 32px;
}
img {
    width: fit-content;
}
.container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    border-radius: 12px;
}
.card {
    display: flex;
    flex-direction: column;
    padding: 32px;
    justify-content: flex-start;
    gap: 32px;
}
.sedans.card {
    background-color: #D97925;
}
.suvs.card {
    background-color: #027373;
}
.luxury.card {
    background-color: #01403A;
}
.title {
    font-family: 'Big Shoulders Display';
    color: white;
    font-size: 2rem;
}
.basic-text {
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 32px;
}
.learn-btn {
    cursor: pointer;
    
}
.sedans.learn-btn:active {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.sedans.learn-btn {
    color: #D97925;
}
.suvs.learn-btn:active {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.suvs.learn-btn {
    color: #027373;
}
.luxury.learn-btn:active {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.luxury.learn-btn {
    color: #01403A;
}