:root{
    --cyan: hsl(179, 62%, 43%);
    --light-cyan: #4ABDBD;
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

*{
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

html, body{
    height: 100%;
    position: relative;
    background-color: var(--light-gray);
}

h1{
    font-size: 1.6rem;
    font-weight: 700;
}

p{
    color: #fff;
}

div{
    box-sizing: border-box;
}

.title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1.3rem;
}

/* main */

.main-container{
    width: 40rem;
    height: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    overflow: hidden;
}


/* top */

.top{
    background-color: #fff;
    height: 14rem;
    width: 100%;
    padding: 2.5rem;
}

.top h1{
    color: var(--cyan);
    margin-bottom: 1.6rem;
}

.top .title{
    color: var(--bright-yellow);
    margin-bottom: 1.3rem;
}

.top p{
    color: var(--grayish-blue);
    line-height: 1.5rem;
}

/* bottom */
.bottom{
    height: 16rem;
    width: 100%;
}

/* left */
.left {
    background-color: var(--cyan);
    float: left;
    height: 100%;
    width: 50%;
    padding: 2.5rem;
}

.price {
    overflow: hidden;
    margin-bottom: 1rem;
}

.price h1 {
    float: left;
    color: #fff;
    margin-right: 0.7rem;
}

.price p {
    color: var(--light-gray);
}

button{
    background-color: var(--bright-yellow);
    border: none;
    border-radius: 0.3rem;
    color: #fff;
    width: 15rem;
    height: 3rem;
    margin-top: 1.3rem;
}

.shadow-box {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.16);
}



/* right */

.right {
    background-color: var(--light-cyan);
    float: right;
    height: 100%;
    width: 50%;
    padding: 2.5rem;
}

li{
    font-size: 0.9rem;
    color: var(--light-gray);
    margin-bottom: 0.3rem;
}

