body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e3e3;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
  }
  
  .main {
    background-color: #fff;
    color: hsl(179, 62%, 43%);
    width: 600px;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .main-content {
    padding: 40px;
    color : rgb(229, 239, 245)
  }
  
  .title {
    font-size: 1.5rem;
    color: #1adcd8;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .sub-title {
    color: hsl(71, 73%, 54%);
    font-weight: bold;
    margin-bottom: 13px;
  }
  
  .paragraph {
    color: hsl(204, 43%, 93%);
    font-weight: bold;
    font-size: 0.8rem;
  }
  
  .sub {
    display: flex;
    flex-direction: row;
  }
  
  .first {
    width: 50%;
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .second {
    background-color: hsl(179, 57%, 54%);
    width: 50%;
    border-radius: 0 0 0.5rem 0;
  }
  
  .sub-content {
    margin-top: 15px;
    color: hsl(204, 43%, 93%);
    font-size: 0.8rem;
  }

  .dollar {
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
  }

  .dollar-number {
    font-size: 1.8rem;
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
  }

  .month {
    display: inline-block;
    color: hsl(204, 43%, 93%);
    font-size: 0.8rem;
  }

  .explain {
    margin-top: 5px;
    font-size: 13px;
    float: left;
  }

  .sign-up {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: hsl(71, 73%, 54%);
    border: none;
    color: #fff;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .sign-up:hover {
    background-color: #bdc3c7;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  